@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
body {
  font-family: Arial;
  font-size: 14px;
  line-height: 27px;
  background: #eee;
  height: 100%;
}

img {
  max-width: 100%;
  display: block;
}

* {
  backface-visibility: hidden;
  box-sizing: border-box;
}

p {
  margin: 15px 0;
  color: #777;
}

span {
  color: #777;
  text-decoration: none;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.panel {
  border: 1px solid #e5e5e5;
  margin: 50px 0;
  background: #fff;
  box-shadow: 0 5px 10px #ddd;
  padding: 15px;
  position: relative;
  overflow: auto;
}

.panel_img {
  width: 35%;
  height: 100%;
  float: left;
}

.panel_content {
  float: left;
  width: 65%;
  padding: 30px;
}

.panel_top {
  display: block;
  margin-bottom: 20px;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 50px;
  line-height: 55px;
  margin: 0px 0 30px 0;
}

.provider-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.provider {
  width: 30%;
  margin-bottom: 20px;
}

.provider h2 {
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
}

.provider p {
  font-size: 0.8rem;
  margin: 0;
}
